@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  transition: background-image 0.5s ease-in-out;
}
.paragraph {
  margin: 0.5em;
  font-size: 1em;
  padding: 1em;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 10px 10px -4px rgba(0,0,0,0.75);
}
